<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>timew-slicer</title>

    <!-- styles -->
    <link href="/css/screen.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!-- navbar -->
    <nav>
    </nav>
    <section>
        <div class="content">
            <h2>Here are your generated time slices</h2>
            {% for day in data %}
            <p>
                <h4>{{ day.date }}</h4>
                {% for slice in day.slices %}
                <li>
                    {{ slice.start }} - {{ slice.end }}: {{ slice.tags|join:", " }}
                </li>
                {% endfor %}
            </p>
            {% endfor %}
        </div>
    </section>
</body>
</html>